<div id="page-4" class="page four">
    <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big big-2">Projects</h1>
        <h2 class="mb-4">My Projects</h2>
    </div>
    <br>

    {% for prj in projects %}
    <div class="resume-wrap d-flex ftco-animate mt-5">
        <div class="icon d-flex align-items-center justify-content-center">
            <span class="flaticon-ideas"><i>{{forloop.counter}}</i></span>
        </div>
        <div class="text pl-3">
            <h2>{{prj.ProjectName}}</h2>
            <span class="date">{{prj.Technology}}</span>
            <p>{{prj.Discription}}</p>
            <p><a href="{{prj.ProjectLink}}" class ="btn btn-primary" target="_blank">Check it Out</a></p>																
        </div>
    </div>
    {% endfor %}

    <div align="center">
        {% for detail in details %}
        <span class="date" style="font-weight: 700; font-size: 17px;"><a href="{{detail.Github}}" target="_blank">Show
                more</a></span>
        {% endfor %}

    </div>
</div>