{% for other in otherdetails %}
<section class="clients" style="background: url('{{other.Featurepic.url}}');">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 wow fadeIn">
                <h6>{{other.Softquote1}}</h6>
                <h1 class="big">Softwares</h1>
                <h2 class="port_sub_heading">Softwares</h2>
                <h4>{{other.Softquote2}}</h4>

                <!-- end custom-link -->
            </div>
            <!-- end col-4 -->
            <div class="col-lg-9 wow fadeIn" data-wow-delay="0.10s">
                <ul>
                    {% for soft in softwares %}
                    <li><img src="{{soft.Softwareimage.url}}" alt="Image"><small>{{soft.SoftwareName}}</small></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- end col-7 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
{% endfor %}