{% load static %}

<div class="port_sidebar_wrapper mport_sidebar_wrapper">
    <div class="port_sidebar_profile">
        <a href="javascript:;" class="port_sidebar_position active">
            <div class="profile_circle ">
            {% for detail in details %}
                <img src="{{detail.Profilepic.url}}" alt="profile-image" class="img-fluid" /> 
                {% endfor %}
            </div>
        </a>
    </div>
    <div class="port_sidebar_nav">
        <div class="port_navigation index_navigation">
            <ul class="nav_list">
                <li data-number="0">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">

                                <i class="fal fa-address-card nav_about_svg"
                                    style="font-size: 25px; color:#ff754a"></i>
                            </span>
                            <span class="second_micon">

                                <i class="fal fa-address-card nav_about_svg"
                                    style="font-size: 25px; color:#ff754a"></i>
                            </span>
                        </a>
                        <span class="menu_tooltip">About</span>
                    </div>
                </li>
                <li data-number="1">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">
                                <i class="fal fa-graduation-cap nav_about_svg"
                                    style="font-size: 25px; color:#00c8da"></i>
                            </span>
                            <span class="second_micon">
                                <i class="fal fa-graduation-cap nav_about_svg"
                                    style="font-size: 25px; color:#00c8da"></i>

                            </span>
                        </a>
                        <span class="menu_tooltip">Education</span>
                    </div>
                </li>
                <li data-number="2">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">
                                <i class="fal fa-laptop-code nav_about_svg"
                                    style="font-size: 25px; color:#ffc454"></i>
                            </span>
                            <span class="second_micon">
                                <i class="fal fa-laptop-code nav_about_svg"
                                    style="font-size: 25px; color:#ffc454"></i>
                            </span>
                        </a>
                        <span class="menu_tooltip">Skills</span>
                    </div>
                </li>
                <li data-number="3">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">
                                <i class="fal fa-briefcase nav_about_svg"
                                    style="font-size: 25px; color:#00df13"></i>
                            </span>
                            <span class="second_micon">
                                <i class="fal fa-briefcase nav_about_svg"
                                    style="font-size: 25px; color:#00df13"></i>
                            </span>
                        </a>
                        <span class="menu_tooltip">Experience</span>
                    </div>
                </li>
                <li data-number="4">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">
                                <i class="fal fa-tasks nav_about_svg" style="font-size: 25px; color:#c954ff"></i>
                            </span>
                            <span class="second_micon">
                                <i class="fal fa-tasks nav_about_svg" style="font-size: 25px; color:#c954ff"></i>
                            </span>
                        </a>
                        <span class="menu_tooltip">Projects</span>
                    </div>
                </li>
                <li data-number="5">
                    <div class="tooltip_box">
                        <a href="" class="siderbar_menuicon">
                            <span class="first_micon">
                                <i class="fal fa-phone-alt nav_about_svg"
                                    style="font-size: 25px; color:#ff4a95"></i>
                            </span>
                            <span class="second_micon">
                                <i class="fal fa-phone-alt nav_about_svg"
                                    style="font-size: 25px; color:#ff4a95"></i>
                            </span>
                        </a>
                        <span class="menu_tooltip">Contact</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="port_sidebar_social">
        <div class="port__social_box">
            <div class="port__followus">
                <p>Follow me</p>
            </div>
            <ul class="social_list">
                {% for detail in details %}
                <li>
                    <a href="{{detail.Github}}" class="siderbar_icon" target="_blank">
                        <span class="first_icon"><i class="fab fa-github nav_git"></i></span>
                        <span class="second_icon"><i class="fab fa-github nav_git"></i></span>
                    </a>
                </li>
                <li>
                    <a href="{{detail.Linkdein}}" class="siderbar_icon" target="_blank">
                        <span class="first_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                        <span class="second_icon"><i class="fab fa-linkedin-in nav_in"></i></span>
                    </a>
                </li>
                <!-- <li>
                    <a href="javascript:;" class="siderbar_icon">
                        <span class="first_icon"><i class="fab fa-instagram nav_insta"></i></span>
                        <span class="second_icon"><i class="fab fa-instagram nav_insta"></i></span>
                    </a>
                </li> -->
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<!-- End side bar -->