{% load static %}
  <!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
		crossorigin="anonymous"></script>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/cvtext1.js' %}"></script>
	<script src="{% static 'js/cvtext2.js' %}"></script>
	<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/swiper.min.js' %}"></script>
	<script src="{% static 'js/circle-progress.js' %}"></script>
	<!-- JQUERY-JVECTORMAP JS -->
	<script src="{% static 'js/jquery-jvectormap.min.js' %}"></script>
	<!-- JVECTORMAP-WORLD-MILL.JS JS -->
	<script src="{% static 'js/scrollbar.js' %}"></script>
	<script src="{% static 'js/custom.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>

	<script>
		var form = document.getElementById("my-form");

		async function handleSubmit(event) {
			event.preventDefault();
			var data = new FormData(event.target);
			fetch(event.target.action, {
				method: form.method,
				body: data,
				headers: {
					'Accept': 'application/json'
				}
			}).then(response => {
				swal({
					title: 'THANK YOU!',
					text: 'Your feedback has been succesfully Received',
					showConfirmButton: true,
				});
				form.reset()
			}).catch(error => {
				swal({
					title: 'ERROR!',
					text: 'Your feedback has not been Received',
					showConfirmButton: true,
				});
			});
		}
		form.addEventListener("submit", handleSubmit)
	</script>